<!doctype html>
<title>Auto Gangsta</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<style>
main {
  text-align: center;
}
#rock {
  width: 100%;
  max-width: 500px;
}
#result {
  width: 100%;
  max-width: 500px;
}
</style>

<main>
<h1>Gangstarify your image!</h1>
<img id="rock" src="/static/rock.jpg" width=500>
<form method=post enctype=multipart/form-data>
  <input type="file" name="file">
  <input type="submit" value="Gangstarify">
</form>

{% if msg %}
  <p>{{ msg }}</p>
{% endif %}
{% if res_url %}
  <img id="result" src="{{ res_url }}" width=500>
{% endif %}

</main>
